{% extends "website/base.html" %}

{% block content %}
<div class="peoplecontent">
        <div class="peopleitem"> 
            <div class="peopleimage">
                <img src="/static/img/Kevin-Mitnick-crop.jpg" alt="people">
            </div>
            <h2 class="peoplename">Mr.Kevin Mitnick</h2>
            <h3 class="peopledesignation">Field Service Engineer</h3>
        </div>
        <div class="peopleitem"> 
            <div class="peopleimage">
                <img src="/static/img/elliot.jpg" alt="people">
            </div>
            <h2 class="peoplename">Mr.Elliot </h2>
            <h3 class="peopledesignation">Equipment Technician</h3>
        </div>
        <div class="peopleitem"> 
            <div class="peopleimage">
                <img src="/static/img/iman.jpg" alt="people">
            </div>
            <h2 class="peoplename">Mr.Iman Gadzhi</h2>
            <h3 class="peopledesignation">Technical Trainer</h3>
        </div>
        <div class="peopleitem"> 
            <div class="peopleimage">
                <img src="/static/img/tyrell-wellick.jpg" alt="people">
            </div>
            <h2 class="peoplename">Mr.Tyrell Wellick</h2>
            <h3 class="peopledesignation">Project Coordinator</h3>
        </div>
        <div class="peopleitem"> 
            <div class="peopleimage">
                <img src="/static/img/joel-brown.jpg" alt="people">
            </div>
            <h2 class="peoplename">Mr.Joel Brown</h2>
            <h3 class="peopledesignation">Product Support Engineer</h3>
        </div>
        <div class="peopleitem"> 
            <div class="peopleimage">
                <img src="/static/img/ali.jpg" alt="people">
            </div>
            <h2 class="peoplename">Mr.Ali Abdaal</h2>
            <h3 class="peopledesignation">Integration Engineer</h3>
        </div>
</div>
{% endblock %}